body {
	padding: 10px;
	font-family: sans-serif;
	margin: 0;
	background-color: black;
	color: white;
}

.title {
	margin: 0 0 15px 0;
	text-align: center;
}

.sound-button {
	border: 1px solid white;
	cursor: pointer;
	border-radius: 5px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	border: 1px solid white;
	border-radius: 5px;
	width: 100%;
	display: flex;
	flex-direction: column;
	height: 80vh;
	justify-content: space-around;
}

.row {
	display: flex;
	justify-content: space-around;
	height: 30%;
}

.play-random {
	width: 100%;
	border: 1px solid white;
	border-radius: 5px;
	margin-top: 10px;
	cursor: pointer;
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}