<h2 class="title">Adam Is A Jelly Doughnut</h2>


<div class="container">
	{{#each pathAndLabel in audioPaths}}
		{{#sound-button audioFilePath=pathAndLabel.path}}
		{{pathAndLabel.label}}
		{{/sound-button	}}
	{{/each}}
</div>

<div class="play-random" {{action "playRandom"}}>Zoo Flesh</div>