<h2 id="title">Adam Is A Jelly Doughnut</h2>


<div class="container">
	{{#each pathAndLabel in audioPaths}}
		{{#sound-button audioFilePath=pathAndLabel.path}}
		{{pathAndLabel.label}}
		{{/sound-button	}}
	{{/each}}
</div>